html,
body {
  background-image: url("./components/bluebkgrd.jpg");
  font-family: "Sintony", sans-serif;
}

.seeAll {
  text-align: center;
  margin-top: 15px;
}

.Card-Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.nav {
  font-family: "Sintony", sans-serif;
}

.searchBtn {
  margin-left: 5px;
}
